footer.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #fff;
}

a {
    margin-right: 10vh;
    color: #333;
    text-decoration: none;
}

footer > h6 {
    margin: 0px;
}

footer > p {
    font-size: x-small;
    margin-top: 5px;
}