div.placar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

div.placar.blue {
    border: solid 2px #115293;
}

*.blue {
    color: #115293;
    margin: 10px;
}


div.placar.green {
    border: solid 2px #388e3c;
}

*.green {
    color: #388e3c;
    margin: 10px;
}

div.placar.red {
    border: solid 2px #dc004e;
}

*.red {
    color: #dc004e;
    margin: 10px;
}