.card {
    border: solid 1px #00bcd4;
    color: #2979ff;
}

form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #2979ff;
}

a:hover {
    font-weight:500;
    cursor: pointer;
}
