div.grid {
	height: 100vh;
	display: grid;
    text-align: center;
    grid-template-rows: 80px 1fr 80px;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"header"
		"content"
		"footer";
}

div.content {
	grid-area: content;
	display: flex;
	align-items: center;
	justify-content: center;
}