<mat-card class="user">
  <mat-card-title>{{title}}</mat-card-title>
  <form>
    <mat-form-field [color]="nameWarn">
      <input matInput (ngModelChange)="validationName($event)" type="text" [disabled]="deleteUser" placeholder="Insira o nome completo."
        [(ngModel)]="name" name="name">
      </mat-form-field>
    <mat-form-field [color]="cpfWarn">
      <input matInput (ngModelChange)="validationCPF($event)" type="text" [disabled]="deleteUser" placeholder="CPF (000.000.000-00)"
        [(ngModel)]="cpf" name="cpf">
    </mat-form-field>
    <mat-form-field [color]="emailWarn">
      <input matInput (ngModelChange)="validationEmail($event)" type="email" [disabled]="disabledEmail" placeholder="Email (email@provedor.com)"
        [(ngModel)]="email" name="email">
    </mat-form-field>
    <mat-form-field [color]="passwordWarn">
      <input matInput (ngModelChange)="validationPassword($event)" type="password" [disabled]="deleteUser" placeholder="Senha"
      [(ngModel)]="password" name="password">
    </mat-form-field>
    <mat-form-field [color]="confirmPasswordWarn">
      <input matInput (ngModelChange)="validationConfirmPassword($event)" type="password" [disabled]="deleteUser" placeholder="Confirme a senha"
      [(ngModel)]="confirmPassword" name="confirmPassword">
    </mat-form-field>
    <mat-checkbox [disabled]="disabledAdmin" [(ngModel)]="admin" name="admin">Administrador.</mat-checkbox>
  </form>
  <div class="buttons">
    <div [ngClass]="invisibleSave">
      <button mat-raised-button (click)="save()" color="primary">
        Salvar
      </button>
    </div>
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
    <div [ngClass]="invisibleDelete">
      <button mat-raised-button (click)="delete()" color="warn">
        Excluir
      </button>
    </div>
  </div>
</mat-card>
