<header class="header">
  <mat-toolbar class="headerBar mat-elevation-z4">
    <span>
      <a class="logo" (click)="goHome()">
        <img class="logoMenu" src="assets/img/logo.png" alt="logo">
        <i class="material-icons homeIcon">home</i>
      </a>
    </span>
    <span class="title">Usuários e Login</span>
    <div class="login">
      <div [ngClass]="invisibleLogged">
        <a (click)='logout()'>
          <div class="avatar">
            <span>{{loggedInitials}}</span>
          </div>
          <span>{{loggedName}}</span>
        </a>
      </div>
      <div [ngClass]="invisibleLogin">
        <a (click)="login()">Login</a>
      </div>
    </div>
  </mat-toolbar>
</header>


