<header class="header">
  <mat-toolbar class="headerBar mat-elevation-z4">
    <span>
      <a class="logo" (click)="goHome()">
        <img class="logoMenu" src="assets/img/logo.png" alt="logo">
        <i class="material-icons homeIcon">home</i>
      </a>
    </span>
    <span class="title">Usuários e Login</span>
    <div class="login">
      <div [ngClass]="invisibleLogged">
        <button mat-button [matMenuTriggerFor]="menu">
          <a>
            <div class="avatar">
              <span>{{loggedInitials}}</span>
            </div>
            <span class="loggedName">{{loggedName}}</span>
          </a>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editUser()">
            <i class="material-icons">manage_accounts</i> Editar perfil
          </button>
          <button mat-menu-item (click)="logout()">
            <i class="material-icons">logout</i> Logout
          </button>
        </mat-menu>
      </div>
      <div [ngClass]="invisibleLogin">
        <a (click)="login()">Login</a>
      </div>
    </div>
  </mat-toolbar>
</header>