.headerBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #232526, #414345);
    color: #fff;
    font-weight: 300;
}

.headerBar a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoMenu {
    max-height: 40px;
}

.homeIcon {
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.title {
    font-size: 2rem;
}

.login span {
    margin: 10px;
    font-size: 1rem;
}