.headerBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #232526, #414345);
    color: #fff;
    font-weight: 300;
}

.headerBar a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    border-radius: 5px;
    padding: 5px;
}

.logo:hover {
    background-color: #414345;
    box-shadow: rgba(250, 250, 250, 0.5) 1.95px 1.95px 2.6px;
}

.logo:active {
    background-color: #000;
    box-shadow: rgba(250, 250, 250, 0.5) 1px 1px 1.5px;
}

.logoMenu {
    height: 40px;
}

.homeIcon {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.title {
    font-size: 2rem;
}

.login {
    display: flex;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border: solid 1px #00bcd4;
    border-radius: 50%;
    background-color: #2979ff;
    margin: 5px;
}

.avatar span {
    font-size: 1.3rem;
    font-weight: 400;
}

.login a {
    margin: 10px;
    font-size: 1rem;
}

.material-icons {
    font-size: 1.2rem;
}

.invisible {
    display: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

a:hover {
    font-weight:400;
    cursor: pointer;
}

@media(max-width: 700px){
    .logo {
        width: 32px;
        overflow: hidden;
    }
}

@media(max-width: 500px) {
    .title {
        font-size: 1.5rem;
    }

    .loggedName {
        display: none;
    }
}