div.home {
    grid-area: content;
    background-color: #f8fafb;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.home h1 {
    color:#123;
    font-weight: 400;
}

div.buttons-home {
    margin: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}