Desenvolver aplicação web contendo os seguintes requisitos:
• A aplicação deverá estar protegida por login e senha
• Deverá existir 2 tipos de perfis de usuário (ADMIN e USER): ADMIN, pode incluir, excluir. editar, visualizar; USER, só visualizar.
• Deverá possuir interface para pesquisa dos usuários cadastrados
• Deverá possuir interface para administrar os usuários na aplicação
• Um usuário tem os seguintes dados:
 senha;
 nome;
 CPF;
 email;
 perfil.

Requisitos não funcionais
• O frontend deverá ser desenvolvido em Angular 7 utilizando Angular CLI (utilizar boas práticas e design patterns).
• Utilizar boas práticas encontradas em https://angular.io/docs/ts/latest/guide/style-guide.html
• Para estilos da interface utilize o angular material.
• Não é necessário backend, pode “persistir” os dados em memória da aplicação.
• Implementar testes unitários
• Utilizar LINTER para qualidade de código Build and run

Usar github para publicar seu código.

Documentar processo de build para que a gente suba a aplicação aqui na Decora rapidamente e sem erros. Não utilize outras tecnologias senão as listadas no teste.

Obs: O cargo é front-end developer, capriche nas telas e usabilidade.
