<mat-card class="card mat-elevation-z3">
  <mat-card-title>
    <button class="button" mat-raised-button routerLink="/users" color="primary">
      Ver usuários
    </button>
  </mat-card-title>
  <mat-card-content>
    <h1>Bem vindo!</h1>
    <p class="text">
      O objetivo desse aplicativo é implementar o login sem acesso a API conforme requisitos abaixo:
    </p>
    <h3>Desenvolver aplicação web contendo os seguintes requisitos:</h3>
    <ul class="text">
      <li>
        A aplicação deverá estar protegida por login e senha
      </li>
      <li>
        Deverá existir 2 tipos de perfis de usuário (ADMIN e USER):
        ADMIN, pode incluir, excluir. editar, visualizar; USER, só visualizar.
      </li>
      <li>
        Deverá possuir interface para pesquisa dos usuários cadastrados
      </li>
      <li>
        Deverá possuir interface para administrar os usuários na aplicação
      </li>
      <li>
        Um usuário tem os seguintes dados:
        <ul>
          <li>
            senha;
          </li>
          <li>
            nome;
          </li>
          <li>
            CPF;
          </li>
          <li>
            email;
          </li>
          <li>
            perfil.
          </li>
        </ul>
      </li>
    </ul>
    <h4>
      Requisitos não funcionais
    </h4>
    <ul class="text">
      <li>
        O frontend deverá ser desenvolvido em Angular 7 utilizando Angular CLI
        (utilizar boas práticas e design patterns).
      </li>
      <li>
        Utilizar boas práticas encontradas em <a href="https://angular.io/docs/ts/latest/guide/style-guide.html"
          target="_blank">Angular Style Guide</a>.
      </li>
      <li>
        Para estilos da interface utilize o angular material.
      </li>
      <li>
        Não é necessário backend, pode “persistir” os dados em memória da aplicação.
      </li>
      <li>
        Implementar testes unitários
      </li>
      <li>
        Utilizar LINTER para qualidade de código Build and run
      </li>
    </ul>
    <h6 class="text">
      Usar github para publicar seu código.
    </h6>
    <p class="text">
      Documentar processo de build para que a gente suba a aplicação aqui na Decora rapidamente e sem erros. Não utilize
      outras tecnologias senão as listadas no teste.
    </p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <strong>Obs:</strong> O cargo é front-end developer, capriche nas telas e usabilidade.
  </mat-card-footer>
</mat-card>